<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>

		<!-- Add Day of Reset in The format (sun,mon,tue, wed,thu,fri,sat) -->
		<add key="DayOfReset" value="fri" />

		<!-- Add Time of Reset in The format (hh:mm:ss) -->
		<add key="TimeOfReset" value="12:00:00" />

	</appSettings>

</configuration>